#custom-navbar-1.navbar-default{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
#parent #curtain{
	color: #000000;	
	font-family: 'Roboto', sans-serif;
}

div.content .section-header h2{
	font-family: 'Roboto', sans-serif;
	color: var(--bg-red-4)
}
div.content .container {
	font-family: 'Roboto', sans-serif;
	color: var(--bg-red-5);	
}
